OHDR/OHDR/Service References/WebServicePuller/server.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://omanexpo.com/soap/WebService" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://omanexpo.com/soap/WebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://omanexpo.com/soap/WebService">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="get_messageRequest">
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_messageResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="update_print_statusRequest">
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="update_print_statusResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_print_statusRequest">
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="get_print_statusResponse">
    <wsdl:part name="return" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="WebServicePortType">
    <wsdl:operation name="get_message">
      <documentation>A web service to pull mysql records from server. We need to pass token as an input parameter</documentation>
      <wsdl:input message="tns:get_messageRequest" />
      <wsdl:output message="tns:get_messageResponse" />
    </wsdl:operation>
    <wsdl:operation name="update_print_status">
      <documentation>A web service to update print status</documentation>
      <wsdl:input message="tns:update_print_statusRequest" />
      <wsdl:output message="tns:update_print_statusResponse" />
    </wsdl:operation>
    <wsdl:operation name="get_print_status">
      <documentation>A web service to get print status</documentation>
      <wsdl:input message="tns:get_print_statusRequest" />
      <wsdl:output message="tns:get_print_statusResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceBinding" type="tns:WebServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="get_message">
      <soap:operation soapAction="http://omanexpo.com/registration/WebServiceSOAP/server.php/get_message" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://omanexpo.com/registration/WebServiceSOAP/server.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://omanexpo.com/registration/WebServiceSOAP/server.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_print_status">
      <soap:operation soapAction="http://omanexpo.com/registration/WebServiceSOAP/server.php/update_print_status" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://omanexpo.com/registration/WebServiceSOAP/server.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://omanexpo.com/registration/WebServiceSOAP/server.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_print_status">
      <soap:operation soapAction="http://omanexpo.com/registration/WebServiceSOAP/server.php/get_print_status" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://omanexpo.com/registration/WebServiceSOAP/server.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://omanexpo.com/registration/WebServiceSOAP/server.php?wsdl" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServicePort" binding="tns:WebServiceBinding">
      <soap:address location="http://omanexpo.com/registration/WebServiceSOAP/server.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>